{% extends 'zenfulApp/main.html' %}
{% load static %}
{% block content %}

<main role="main">
<div class="album py-5 bg-light">

    <div class="container">
      <h2 class="mb-5 text-center">OUR SERVICES</h2>
      <div class="row h-100">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/info.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">Resources</h3>
              <p class="card-text">We know remote learning and Work From Home is hard . Learn healthy coping mechanisms for when you feel stressed by Financial, Academic or Career pressures.</p>
              
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="{% url 'resourcePage_url' %}"><button type="button" class="btn btn-lg btn-outline-primary">Tell Me More</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- single card-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/activities.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">Activities</h3>
              <p class="card-text">View our list of 16 destressing, calming activities, and find one that fits you - or
	  maybe come up with your own, mindful activity. Keep track with our priority to-do list.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="{% url 'selectActivity_url' user.id %}"><button type="button" class="btn btn-lg btn-outline-primary" >Tell Me More</button></a>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <!-- single card-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/yoga.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">Apps</h3>
              <p class="card-text">Use our simple-to-use meditation tool to regulate your breathing and calm yourself during meditation. If you want, you can play our music to set the mood, or use your own!</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="{% url 'appsPage_url' %}"><button type="button" class="btn btn-lg btn-outline-primary" href="apps.html">Tell Me More</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}