{% extends 'zenfulApp/main.html' %}
{% load static %}
{% block content %}

<main role="main">
<div class="album py-5 bg-light">

    <div class="container">
      <h2 class="mb-5 text-center">Articles on mental health and well being!</h2>
      <div class="row h-100">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/happy.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">5 Ways to Improve Your Mental Health</h3>
              <p class="card-text">Your mental health affects your overall health more than you may realize. When you are stressed out, angry, or sad, your body suffers, too, whether it is headaches, back pain, or any number of other physical symptoms.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="https://www.goodtherapy.org/blog/5-ways-to-improve-your-mental-health-and-increase-happiness-0312155" target="blank"><button type="button" class="btn btn-lg btn-outline-primary">Tell Me More</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- single card-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/all happy.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">25 Habits to Add to Your Routine</h3>
              <p class="card-text">Happiness looks different for everyone. For you, maybe it’s being at peace with who you are. Or having a secure network of friends who accept you unconditionally. Or the freedom to pursue your deepest dreams.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="https://www.healthline.com/health/how-to-be-happy" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Tell Me More</button></a>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <!-- single card-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/feeling happy.svg' %}" class="mr-2" style="width:340px; height:300px">
            <div class="card-body">
              <h3 class="text-muted text-center">25 ways to feel happier in the next 5 minutes</h3>
              <p class="card-text">While some factors that affect happiness are out of our control, (yes, genetics does play a role as do current life circumstances), there are always actions we can take to amp up our good vibes. Consider trying a few of these -- or all of them! </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="https://www.happier.com/blog/25-ways-to-feel-happier-in-the-next-5-minutes/" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" href="apps.html">Tell Me More</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

<main role="main">
<div class="album py-5 bg-light">

    <div class="container">
      <h2 class="mb-5 text-center">Some great playlists to soothe your mind!</h2>
      <div class="row h-100">
        <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/relaxmusic.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Relaxing Evening</h3>
              <p class="card-text">A relaxing mix of pop, soul, indie, jazz and more.</p>
              <div class="d-flex justify-content-between align-items-center" >
                <a href="https://music.youtube.com/playlist?list=RDCLAK5uy_mSaYvcoVvag_GrAc593WX3MoxTLvUXYT8" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Take Me There</button></a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/chill.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Super Chill</h3>
              <p class="card-text">Achieve the Zen with a stream of low-key tracks</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://music.youtube.com/playlist?list=RDCLAK5uy_mYa86YJNGqE4Jl5jG7DZP9NKdflw0hQL0" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Take Me There</button></a>
            
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/lofi.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Lofi Loft</h3>
              <p class="card-text">Kick back & coast to these chillhop & lofi beats.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://music.youtube.com/playlist?list=RDCLAK5uy_kb7EBi6y3GrtJri4_ZH56Ms786DFEimbM" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Take Me There</button></a>
                
              </div>
            </div>
          </div>
        </div>
 </div>
    </div>
  </div>
</main>

<main role="main">
<div class="album py-5 bg-light">

    <div class="container">
      <h2 class="mb-5 text-center">Top Class Articles on Healthy Lifestyle!</h2>
      <div class="row h-100">
        <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/foodhealth.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Benefits of eating healthy</h3>
              <br>
              <p class="card-text">A healthful diet typically includes nutrient-dense foods from all major food groups, including lean proteins, whole grains, healthful fats, and fruits and vegetables of many colors.</p>
              <div class="d-flex justify-content-between align-items-center" >
                <a href="https://www.medicalnewstoday.com/articles/322268" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Read More</button></a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/health2.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Living an active lifestyle</h3>
              <br>
              <p class="card-text">Living an active lifestyle—traveling, participating in sports, and enjoying the outdoors—takes energy, especially if you’re a lower-limb amputee.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://livingwithamplitude.com/article/living-an-active-lifestyle/" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Read More</button></a>
            
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% static 'images/exercise.svg' %}">

            <div class="card-body">
              <h3 style="text-align:center">Fitness tips for office workers</h3>
              <p class="card-text">Many of us spend most of our time sitting down. Sitting all day and not moving your body is bad for your health and it can even affect your focus levels at work.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.posturite.co.uk/blog/best-fitness-tips-office-workers" target="blank"><button type="button" class="btn btn-lg btn-outline-primary" >Read More</button></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



{% endblock %}